# Create TAZ json

Example record: 
```
  {
    "CO_TAZID": 50856,
    "CityArea": "Logan",
    "ModelArea": "Cache Travel Model",
    "DEVACRES": 349.146,
    "TAZID": 7580,
    "CO_FIPS": 5,
    "CO_NAME": "CACHE"
  }
```

In [1]:
# Import necessary libraries
from arcgis.gis import GIS
from arcgis.features import FeatureLayer
import pandas as pd

# Connect to ArcGIS Online
gis = GIS()

# URL of the feature layer
layer_url = "https://services1.arcgis.com/taguadKoI1XFwivx/arcgis/rest/services/Typical_Jobs_Projections_TAZ_RTP_2023/FeatureServer/0"

# Access the feature layer
feature_layer = FeatureLayer(layer_url)

# Query the feature layer to get all features
features = feature_layer.query(where="1=1")

# Convert the features to a list of dictionaries
feature_dicts = [feature.as_dict for feature in features.features]

# Extract only the attributes
attributes = [feature['attributes'] for feature in feature_dicts]

# Create a DataFrame from attributes
dfTaz = pd.DataFrame(attributes)

dfTaz = dfTaz[['CO_TAZID','CityArea','ModelArea','DEVACRES','TAZID','CO_FIPS','CO_NAME']]

# Display the DataFrame
display(dfTaz)

,CO_TAZID,CityArea,ModelArea,DEVACRES,TAZID,CO_FIPS,CO_NAME
0,50001,Cornish,Cache Travel Demand Model,490.0959,7092,5,CACHE
1,50002,Cornish,Cache Travel Demand Model,564.3828,7093,5,CACHE
2,50003,Cornish,Cache Travel Demand Model,263.5285,7094,5,CACHE
3,50004,Cornish,Cache Travel Demand Model,324.9306,7095,5,CACHE
4,50005,Cornish,Cache Travel Demand Model,269.1452,7096,5,CACHE
...,...,...,...,...,...,...,...
9810,491290,Eastside Mountains,Wasatch Front Travel Demand Model,55.9669,7051,49,UTAH
9811,491292,Eastside Mountains,Wasatch Front Travel Demand Model,1207.1884,7053,49,UTAH
9812,491288,Eastside Mountains,Wasatch Front Travel Demand Model,288.9022,7049,49,UTAH
9813,491330,Eastside Mountains,Wasatch Front Travel Demand Model,40957.2801,7091,49,UTAH
9814,491291,Eastside Mountains,Wasatch Front Travel Demand Model,708.2605,7052,49,UTAH

In [2]:
# export to json
dfTaz.to_json('_site-traffic-volume-map/widgets/ForecastSidebar/data/tazdata.json', orient='records', indent=2)

In [3]:
# city areas to json
dfCityAreas = dfTaz[['CityArea','CO_FIPS']].drop_duplicates()
dfCityAreas = dfCityAreas[['CityArea','CityArea','CO_FIPS']]
dfCityAreas.columns = ('value','label','co_fips')
dfCityAreas = dfCityAreas.sort_values('value')
dfCityAreas.to_json('_site-traffic-volume-map/widgets/ForecastSidebar/data/cityareasdata.json', orient='records', indent=2)
dfCityAreas

               value           label  co_fips
8824          Alpine          Alpine       49
8036            Alta            Alta       35
4350        Altamont        Altamont       13
3124           Alton           Alton       25
74            Amalga          Amalga        5
...              ...             ...      ...
7740      White City      White City       35
6377         Willard         Willard        3
9251  Woodland Hills  Woodland Hills       49
3725        Woodruff        Woodruff       33
6699     Woods Cross     Woods Cross       11

[318 rows x 3 columns]